@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #05050a;
  color: white;
  margin: 0;
  font-family: system-ui, sans-serif;
}
.exp-card.show {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s ease-out;
}
